<div class="container">
  <h2>Root</h2>
  <div class="container__buttons">
    <button color="primary" mat-flat-button class="container__button">
      Add File
    </button>
    <button
      color="accent"
      mat-flat-button
      class="container__button container__button--yellow"
    >
      Add Folder
    </button>
    <button color="warn" mat-flat-button class="container__button">
      Remove Selection
    </button>
  </div>
  <div class="container__books">
    <!--     <app-folder-list-item
      class="folder"
      *ngFor="let folderInput of folders"
      [folder]="folderInput"
    ></app-folder-list-item> -->
  </div>
  <div class="container__files">
    <app-file-list-item
      *ngFor="let file of files"
      [file]="file"
    ></app-file-list-item>
  </div>
</div>
