<a class="file__link" (click)="redirectToPreview(file.id)">
  <mat-card class="file">
    <div class="dashes"></div>
    <img [src]="file.imageLink" [alt]="file.name" class="file__image" />
    <mat-checkbox color="primary"></mat-checkbox>
    <div class="file__content">
      <mat-card-title>{{ file.name }}</mat-card-title>
      <mat-card-content>{{ file.description }}</mat-card-content>
    </div>
    <button
      color="warn"
      mat-button
      class="file__button"
      (click)="onClick($event, +file.id)"
    >
      Edit
    </button>
  </mat-card>
</a>
